
.carousel {
    margin-bottom: 4rem;
}

  .carousel-caption {
    z-index: 10;
    bottom: 3rem;
  }

  .carousel-item {
    height: 30rem;
    background-color: #777;
  }

  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 30rem;
  }
  
  