nav {
  position: sticky;
  background-color: white;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 25px;
  border-bottom: solid green 3px;
}

.navbar-brand {
  margin-left: 40px;
}

.navbar-brand img {
  margin-right: 70px;
  height: 125px;
  width: 120px;
}

.nav-link img {
  margin-top: 16px;
  width: 30px;
  height: 18px;
}

.dropdown-menu a {
  font-size: 17px;
  font-style: normal;
}

.navbar-toggler-right {
  margin-top: 40px;
  margin-right: 40px;
}

.navbar-toggler {
  background-color: #63b25e;
}

.nav-link {
  font-size: 22px;
}

#greenButton {
  color: green;
}

#greenButton:hover {
  color: white;
  background-color: green;
  border-radius: 30px;
}

#blueButton {
  color: royalblue;
}

#greenButton {
  -vendor-animation-duration: 3s;
  -vendor-animation-delay: 2s;
  -vendor-animation-iteration-count: infinite;
}
